params {
    arcdir     = "arc/project/st-jimsun-1/rna_seq_storage"
    fasta_dir  = "${params.arcdir}/AG8QJCX_Madden2022_RNAseq/BER17415.20210621/210616_A00481_0218_BHFKL7DRXY"
    batch_size     = 8
    cpus       = 8
    memory     = '16 GB'
    time       = '1h'
}

conda.enabled = true

process {
    conda          = '/home/axu03/miniconda3/envs/qc_env'
    executor       = 'slurm'
    scratch        = true
    queue          = 'cpu'
    cpus           = 8
    memory         = '16 GB'
    time           = '1h'
    clusterOptions = '--nodes=1 --gpus=1 --account=st-jimsun-1-cpu'
}

